<h2>Recent</h2>

<ul>
  {{#each show in recent}}
    <li>
      <h3>{{show.displayName}}</h3>

      <ul>
        {{#each episode in show.episodes}}
          <li>{{episode.displayDate}} | {{episode.shortEpisodeNumber}} - {{episode.title}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>

<h2>Upcoming</h2>

<ul>
  {{#each show in upcoming}}
    <li>
      <h3>{{show.displayName}}</h3>

      <ul>
        {{#each episode in show.episodes}}
          <li>{{episode.displayDate}} | {{episode.shortEpisodeNumber}} - {{episode.title}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>

<h2>Off Air</h2>

<ul>
  {{#each show in offair}}
    <li>
      <h3>{{show.displayName}}</h3>

      <ul>
        {{#each episode in show.episodes}}
          <li>{{episode.displayDate}} | {{episode.shortEpisodeNumber}} - {{episode.title}}</li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
