<ul class="results">
  {{#each model as |show|}}
    <li>
      <button {{action 'add' show}} title="Add Show">
        <i class="fa fa-plus"></i>
      </button>
      <div>
        <h4>{{show.name}}</h4>
        <dl>
          {{#if show.firstAired}}
            <dt>First Aired</dt>
            <dd>{{date-short show.firstAired}}</dd>
          {{/if}}
          {{#if show.network}}
            <dt>Network</dt>
            <dd>{{show.network}}</dd>
          {{/if}}
          {{#if show.description}}
            <dt>Description</dt>
            <dd>{{show.description}}</dd>
          {{/if}}
        </dl>
      </div>
    </li>
  {{/each}}
</ul>
