<ul>
  {{#each model as |show|}}
    <li>
      <dd>
        <dt>Name</dt>
        <dd>{{show.name}}</dd>
        <dt>First Aired</dt>
        <dd>{{show.firstAired}}</dd>
        <dt>Network</dt>
        <dd>{{show.network}}</dd>
        <dt>Description</dt>
        <dd>{{show.description}}</dd>
      </dd>
      <button {{action 'add' show}}>Add</button>
    </li>
  {{/each}}
</ul>
