<span class="episode-number">
  <span>{{episode.shortEpisodeNumber}}</span>
</span>
<span class="airdate">{{date-short episode.airdate}}</span>
<span class="title" {{action 'showFileName'}}>{{episode.title}}</span>
<span class="file-name">
  {{episode.show.fileName}} - {{episode.longEpisodeNumber}} - {{episode.title}}
</span>
