<span class="episode-number">
  <span>{{episode.shortEpisodeNumber}}</span>
</span>
<span class="airdate">{{date-short episode.airdate}}</span>
<span class="title">{{episode.title}}</span>
{{#text-select class="file-name" tagName="span"}}
  {{episode.show.fileName}} - {{episode.longEpisodeNumber}} - {{episode.title}}
{{/text-select}}
