<form {{action 'save' on='submit'}}>
  <label>Display Name</label>
  {{input value=displayName}}

  <label>Search Name</label>
  {{input value=searchName}}

  <label>File Name</label>
  {{input value=fileName}}

  <button {{action 'destroy'}}>Delete show</button>

  <footer>
    {{#link-to 'shows' tagName='button'}}Cancel{{/link-to}}
    <button type="submit">Save</button>
  </footer>
</form>
