{{#modal-dialog close='close'}}
  <form {{action 'save' on='submit'}} class="show-edit">
    <fieldset>
      <label>Display Name</label>
      {{focus-input value=displayName}}
    </fieldset>

    <fieldset>
      <label>Search Name</label>
      {{input value=searchName}}
    </fieldset>

    <fieldset>
      <label>File Name</label>
      {{input value=fileName}}
    </fieldset>

    <footer>
      <button type="submit">Save</button>
      <a {{action 'destroy'}} href="#">Delete show</a>
    </footer>
  </form>
{{/modal-dialog}}
